html {
    background-color: black;
    color: beige;
}
a {
    color: aliceblue;
}

header {
    position: fixed;
    left: 0%;
    top: 0%;
    text-align: center;
    background-color: black;
    color: aquamarine;
    min-width: 99vw;
}

nav {
    position: fixed;
}

nav ul {
    position: relative;
    left: -2em;
}

nav li, #situation li {
    list-style: none;
}

.clickable:hover {
    background-color: darkblue;
    cursor: pointer;
}

.clickable {
    background-color: #212447;
    border-color: azure;
    border-width: 1px;
    border-style: inset;
}

section#main {
    margin-left: 7em;
    margin-top: 15ex;
}

section.section {
    visibility: hidden;
    position: absolute;
}

.section div {
    display: inline-block;
}

section#situation {
    position: absolute;
    right: 2ex;
    top: 2ex;
}

.things {
    border-style: solid;
    border-width: 1px;
    min-height: 3cm;
    width: 20vw;
    display: inline-block;
}

.things img {
    width: 3cm;
}

#basket {
    position: fixed;
    bottom: 2ex;
    height: 15ex;
    min-width: 99vw;
    background-color: black;
}
